.calc-results .rules, .calc-results .result-a,
.calc-results .result-b, .calc-results .lucky-number{
    padding: 0.9375em;
    background-color: #fff;
}
.calc-results .result-a {padding: 0.9375em 0 !important;}
.calc-results .rules div {
    background-color: #fb951f;
    padding: 0.3125em 0.75em;
    border-radius: 0.2em;
}
.calc-results .result-a .result-a-number {
    display: inline;
}
.calc-results .result-a-table {
    padding: 0.1875em 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.625em;
    border-top: 1px solid #d5d5d5;
}
.calc-results .result-a-table thead, .calc-results .result-a-table tbody {
    text-align: left;
    background-color: #fff;
}
.calc-results .result-a-table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.calc-results .result-a-table td, .calc-results .result-a-table th {
    line-height: 1.375em;
    border-bottom: 1px solid #d5d5d5;
}
.calc-results .result-a-table td.time, .calc-results .result-a-table th.time {
    padding-left: 0.9375em
}
.calc-results .result-a-table td.username div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.calc-results .result-a-row i {
    margin-left: 0.35em;
    margin-right: 0.35em;
}