/* detail page */
.m-detail-infos {
    background-color: #fff;
    padding: 0.625em 0.9375em;
    font-size: 1em;
}
.m-detail-status {
    border-radius: 0.2em;
    padding: 0.1875em 0.375em;
    color: #fff;
}
.m-detail-status.ongoing {
    background-color: #E74C3C;
}
.m-detail-status.revealing {
    background-color: #8255a8;
}
.m-detail-status.revealed {
    background-color: #fb951f;
}
.m-detail-infos .progress {
    font-size: 0.9375em;
    margin-right: 0;
    margin-top: 0.5em;
}
.m-detail-infos .progress li {
    display: inline-block;
    font-size: 0.875em;
}
.m-detail-infos .user-numbers {
    background-color: #e5e5e5;
    border-radius: 0.2em;
    margin: 0.875em 0 0.5em 0;
    color: #919191;
    text-align: center;
    padding: 0.875em 0.625em;
    font-size: 0.9375em;
}
.m-detail-infos .user-numbers .user-numbers-list {
    display: table-cell;
}
.m-detail-infos .user-numbers .user-numbers-item {
    float: left;
    width: 5em;
    line-height: 1.375em;
    text-align: center;
}
.m-detail-countdown {
    background-color: #e74c3c;
    border-radius: 0.2em;
    color: #fff;
    font-size: 0.9375em;
    padding: 0 0.875em;
    height: 3.125em;
    line-height: 3.125em;
}
a.calc-detail-link {
    text-decoration: underline;
    float: right;
    color: #fff;
}
.m-detail-winner {
    background-color: #ececec;
    border-radius: 0.2em;
    color: #181818;
    font-size: 0.9375em;
}
.m-detail-winner .winner-info {
    padding: 0.75em 0 0.9375em 0.9375em;
    display: table-cell;
}
.m-detail-winner .winner-info div, .m-detail-winner .winner-info ul {
    display: table-cell;
}
.m-detail-winner .winner-info div {
    padding-right: 0.875em;
    vertical-align: middle;
}
.m-detail-winner .lucky-number {
    background-color: #e74c3c;
    color: #fff;
    font-size: 0.9375em;
    padding: 0 0.875em;
    height: 3.125em;
    line-height: 3.125em;
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
}
.m-detail-links {
    font-size: 1.07em;
    background: #fff;
}
.m-detail-links div.link-item {
    position: relative;
    padding: 0 1em;
    height: 3.125em;
    line-height: 3.125em;
    border-top: 1px solid #e5e5e5;
}
.m-detail-all-buy-records {
    background-color: #fff;
    font-size: 0.9375em;
}
.m-detail-all-buy-records .buy-records-header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.07em;
    padding: 1em 1em 0.625em 1em;
}
.m-detail-all-buy-records li.buy-records-item {
    padding: 0.625em 1em;
    background-color: #f8f8f8;
}
.m-detail-all-buy-records li.buy-records-item div {
    display: table-cell;
    vertical-align: middle;
}
.m-detail-all-buy-records li.buy-records-item .text {
    line-height: 1.375em;
}
.detail-float-footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    color: #919191;
    height: 3.5em;
    line-height: 3.5em;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.detail-float-footer .red-default-btn,
.detail-float-footer .red-border-btn{
    display: inline-block;
    width: 35%;
    margin: 0 0.625em;
    padding: 0;
    line-height: 2.4em;
}
.detail-float-footer .has-buy {
    padding: 0.75em 7.8em;
    border-radius: 0.2em;
    background-color: #e6e6e6;
    color: #bfbfbf;
}
.detail-float-footer .go-latest {
    padding: 0.6875em 1.25em;
    background-color: #fb951f;
    border-radius: 0.2em;
    margin-left: 1.25em;
    color: #F8F8F8;
}
.buy-confirm-container,
.add-cart-confirm-container {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.buy-confirm {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    padding: 0.9375em 0;
    font-size: 1em;
    background-color: #fff;;
}
.buy-confirm .header, .buy-confirm .amount-selector {
    margin: 0 1.25em;
}
.buy-confirm .amount-selector {
    text-align: center;
    margin: 1.25em 0;
}
.buy-confirm .amount-selector .amount-text {
    padding: 0.625em 0;
    border: none;
    margin: 0 0.5em;
    width: 3.125em;
    text-align: center;
    font-size: 0.9375em;
}
.buy-confirm .confirm-btn div {
    background-color: #e74c3c;
    font-size: 1.07em;
    text-align: center;
    padding: 0.3125em 0;
    margin: 0 1.25em;
    border-radius: 0.25em;
}
.buy-confirm a.confirm-btn {
    color: #ffffff;
}