/* share icons */
.share-ico {
    display: inline-block;
    vertical-align: middle;
}
.share-ico-download_btn_pressed {
    background-position: -1px -90px;
    width: 159px;
    height: 48px;
}
.share-ico-download_btn_default {
    background-position: -1px -140px;
    width: 159px;
    height: 48px;
}
.share-ico-logo-cn {
    background-position: -1px -53px;
    width: 220px;
    height: 35px;
}
.share-ico-logo-vn {
    background-position: -224px -1px;
    width: 149px;
    height: 35px;
}
.share-ico-winner_record_logo-cn {
    background-position: -224px -38px;
    width: 146px;
    height: 48px;
}
.share-ico-winner_record_logo-vn {
    background-position: -224px -88px;
    width: 145px;
    height: 48px;
}
.share-ico-title_bg-cn {
    background-position: -224px -138px;
    width: 130px;
    height: 36px;
}
.share-ico-title_bg-vn {
    background-position: -1px -1px;
    width: 221px;
    height: 50px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .share-ico {
        background-image: url('../../img/share/share_icons.png');
        -webkit-background-size: 374px 189px;
        -moz-background-size: 374px 189px;
        background-size: 374px 189px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .share-ico {
        background-image: url('../../img/share/share_icons@2x.png');
        -webkit-background-size: 374px 189px;
        -moz-background-size: 374px 189px;
        background-size: 374px 189px;
    }
}
.share-mark {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0.3em;
    top: 11.2em;
    width: 110px;
    height: 110px;
}
.share-detail-mark.cn {
    background-image: url('../../img/share/share_detail-cn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
.share-detail-mark.vn {
    background-image: url('../../img/share/share_detail-vn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
.share-detail-zero-mark.cn {
    background-image: url('../../img/share/share_detail_zero-cn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
.share-detail-zero-mark.vn {
    background-image: url('../../img/share/share_detail_zero-vn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
.share-winner-record-mark.cn {
    background-image: url('../../img/share/share_winner_record-cn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
.share-winner-record-mark.vn {
    background-image: url('../../img/share/share_winner_record-vn.png');
    -webkit-background-size: 110px 110px;
    -moz-background-size: 110px 110px;
    background-size: 110px 110px;
}
/* share app page */
.share-app, .download-app {
    background-color: #ffffff;
    margin: 0 auto;
}
.share-app .logo {
    margin: 0.5em 1em;
}
.share-app .banner img {
    width: 100%;
}
.share-app .download-top, .share-app .download-bottom {
    text-align: center;
}
.share-app .download-top a, .share-app .download-bottom a {
    height: 2.7em;
    line-height: 2.7em;
}
.share-app .download-top a, .share-app .download-bottom a, .share-app span.share-title {
    font-size: 1.3em;
    color: #ffffff;
}
.share-app .download-top {
    margin: 1.6em 0 2.25em 0;
}
.share-app .download-top a:active {
    background-position: -1px -38px;
    width: 159px;
    height: 48px;
}
.share-app .download-bottom {
    padding-bottom: 3em;
}
.share-app .download-bottom a {
    background-color: #ffae00;
    padding: 1em 2em;
    border-radius: 2em;
}
.share-app span.share-title {
    padding: 0 0.8em;
    height: 2em;
    line-height: 2em;
}
.share-app .share-ico-title_bg-vn span.share-title {
    height: 2.75em;
    line-height: 2.75em;
}
.user-share ul.share-list {
    padding: 1.2em 1em;
}
li.share-item .username {
    font-size: 1.2em;
    margin-bottom: 0.6em;
}
li.share-item .comment {
    font-size: 1em;
    margin-bottom: 0.8em;
}
li.share-item .images {
    margin-bottom: 1.5em;
}
li.share-item .images img {
    width: 48%;
    display: inline-block;
}
li.share-item .images img.left {
    margin-right: 2%;
}

/* share winner record page */
.share-winner-record {
    width: 100%;
    margin: 0 auto;
    padding: 12.2em 0 7em 0;
}
.share-winner-record.cn {
    background: #f20e4f url('../../img/share/winner_record_bg-cn.png') no-repeat;
    background-size: 100%;
}
.share-winner-record.vn {
    background: #f20e4f url('../../img/share/winner_record_bg-vn.png') no-repeat;
    background-size: 100%;
}
.share-winner-record .content {
    background-color: #ffffff;
    margin: 0 1.5em;
    border-radius: 0.5em;
}
.share-winner-record .content p {
    text-align: center;
    padding: 0 1.8em;
    color: #181818;
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.share-winner-record .content p.term {
    font-size: 1.1em;
    color: #919191;
    padding-bottom: 1.6em;
    margin-top: 0.3em;
}
.share-winner-record .header {
    padding: 1em;
}
.share-winner-record .header .user-info {
    display: inline-block;
    padding-left: 0.9em;
    line-height: 1.6em;
    height: 1.6em;
    width: 80%;
}
.share-winner-record .header .username {
    color: #181818;
    font-size: 1.2em;
    display: block;
}
.share-winner-record .header .user-desc {
    color: #919191;
    font-size: 1em;
    display: block;
}
.share-winner-record .cover {
    margin: 1.7em 0;
}
.share-winner-record .cover img {
    margin: 0 auto;
    width: 10em;
    height: 10em;
}
.share-winner-record .footer {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    padding: 0.8em 1em;
    width: 100%;
}
.share-winner-record .footer a {
    background-color: #ff5252;
    padding: 0.5em 1.4em;
    border-radius: 0.3em;
    float: right;
    margin-right: 2em;
    color: #ffffff;
    font-size: 1.3em;
}

/* download page */
.download-app {
    padding-top: 4em
}
.download-app .header {
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 8px #323232;
    -moz-box-shadow: 0 1px 8px #323232;
    box-shadow: 0 1px 8px #323232;
}
.download-app .title {
    color: #fff;
    font-size: 1.2em;
    padding: 0.1em 1em;
    margin: 1em 0;
    display: inline-block;
    background-color: #f05856;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}
.download-app .download-btn {
    width: 134px;
    height: 30px;
    position: absolute;
    top: 57%;
    left: 51%;
    background-image: url('../../img/share/download_white_btn.png');
    -webkit-background-size: 134px 30px;
    -moz-background-size: 134px 30px;
    background-size: 134px 30px;
}
.download-app .product-desc {
    padding: 0 1em;
}
.download-app .product-desc span.bold {
    color: #000;
    font-weight: bold;
}
.download-app .show-item .infos {
    margin-left: 3em;
    margin-bottom: 1.5em;
}
.download-app .show-item .infos .nickname {
    color: #959595;
    font-size: 1.05em;
}
.download-app .show-item .infos .content {
    color: #323232;
    padding-top: 0.5em;
}
.download-app .show-item .images img {
    width: 32%;
    height: 6.5em;
    padding-right: 0.2em;
    display: inline-block;
}