.show-item .show-infos {
    margin-left: 3em;
    margin-bottom: 1.5em;
}
.show-item .show-infos .content {
    background-color: #f8f8f8;
    border-radius: 0.2em;
    padding: 0.5em 0.4em 0 0.4em;
}
.show-item .img-list img {
    width: 32%;
    height: 6.5em;
    padding-right: 1%;
    display: inline-block;
}
.show-detail .header, .show-detail .content,
.show-detail .images {
    padding: 0.5625em 0.75em;
}
.show-detail .header {
    height: 2.5em;
    position: relative;
}
.show-detail .header img {
    vertical-align: bottom;
}
.show-detail .winner {
    background-color: #f8f8f8;
    margin: 0.5em 0.75em;
    padding: 0.3125em;
    border-radius: 0.2em;
}
.show-detail .images img {
    width: 100%;
    margin-bottom: 0.625em;
}
.show-desc {
    max-height: 63px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all
}
