/* user page */
.user-infos {
    background-color: #e74c3c;
    padding: 0.625em;
    color: #fff;
}
.user-amount {
    background-color: #d34637;
    color: #fff;
    padding: 0.8em 0.625em;
}
.user-amount .charge-btn div {
    background-color: #fff;
    padding: 0.2em 2em;
    color: #e74c3c;
    border-radius: 0.2em;
}
.user-history-item:nth-child(2), .user-history-item:nth-child(6) {
    border-bottom: none;
}
.user-history-item a div {
    padding: 0.875em 1.125em;
}

/* register & login & forget password & profile */
div.input-item {
    padding: 0.9375em;
    border-bottom: 1px solid #e5e5e5;
}
button.btn-disabled {
    border: 1px solid #bcbcbc !important;
    color: #919191 !important;
    background-color: #e5e5e5 !important;
}
button.get-sms-code {
    font-size: 0.9375em;
    border: 1px solid #e74c3c;
    padding: 0.6875em 0.375em;
    color: #fff;
    border-radius: 0.2em;
    margin-left: 1.25em;
    background-color: #e74c3c;
}
.register-container, .login-container, .forget-password-container, .new-password-container {
    background-color: #fff;
    height: 100%;
    font-size: 0.9375em;
}
.register-container .agree-cb {
    width: 18px;
    height: 18px
}
.img-code-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    left: 0;
    text-align: center;
}
.img-code-container .img-code {
    color: #333;
    background-color: #fff;
    text-align: left;
    padding: 1.2em 1em;
    margin: 0 1em;
    border-radius: 0.2em;
}
.img-code-container input {
    border: 1px solid #e5e5e5;
    height: 2.375em;
    padding: 0 0.3125em;
    background-color: #f8f8f8;
    font-size: 0.9375em;
    outline: none
}
.img-code-container button.change-img-code {
    display: inline-block;
    border: none;
    padding: 0.5em;
    margin-left: 1em;
    vertical-align: top;
    background-color: #fff;
    outline: none
}
.img-code-container button.action {
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    min-width: 6em;
    margin-right: 2em;
}
.register-container .register-btn div {
    text-align: center;
    margin: 0.9375em 0.9375em 0 0.9375em;
    border-radius: 0.2em;
    padding: 0.625em 0;
    background-color: #e74c3c;
    color: #fff;
}
.register-container .statement {
    padding: 0.9375em;
    margin-top: 3em;
}
.login-container .login-btn div, .login-container .register-btn div {
    text-align: center;
    margin: 0.9375em 0.9375em 0 0.9375em;
    border-radius: 0.2em;
    padding: 0.625em 0;
}
.login-container .login-btn div {
    background-color: #e74c3c;
    color: #fff;
}
.login-container .register-btn div {
    color: #e74c3c;
    border: 1px solid #e74c3c;
}
.forget-password-container .next-step-btn {
    margin-top: 1.25em;
    padding: 0.625em 0;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 0.2em;
    color: #fff;
    font-size: 0.9375em;
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
}
.new-password-container .new-password {
    margin-bottom: 1.25em;
}
.new-password-container .confirm-btn div {
    text-align: center;
    border-radius: 0.2em;
    padding: 0.625em 0;
    background-color: #e74c3c;
    color: #fff;
    width: 80%;
    margin-left: 10%;
}
.profile-item {
    position: relative;
    padding: 0.875em 1.125em;
}
.profile-logout div {
    text-align: center;
    margin: 0.9375em 0.9375em 0 0.9375em;
    border-radius: 0.2em;
    padding: 0.625em 0;
    background-color: #e74c3c;
    color: #fff;
}

/* charge records & activity records & winner records & show records & coupon */
.m-chargeRecord-container, .m-activityRecord-container,
.m-winnerRecord-container, .m-showRecord-container {
    height: 100%;
    background-color: #fff;
}
.m-chargeRecord-container .introduction {
    padding: 1em 0.94em;
    font-size: 0.94em;
}
.charge-record-item {
    font-size: 0.94em;
    padding: 0.5em 0.94em;
}
.charge-record-item div {
    display: inline-block;
}
.activity-record-item, .show-record-item .show-infos {
    padding: 1em 0.8em;
}
.activity-record-item .cover, .winner-record-item .cover,
.show-record-item .cover {
    float: left;
}
.show-record-item {margin-bottom: 2em}
.show-record-item .content {
    margin-left: 6.5em;
    min-height: 6em
}
.show-record-item .status {padding: 0.4em 1em}
.activity-record-item .infos, .winner-record-item .infos {
    margin-left: 6.2em;
    min-height: 6em;
}
.activity-record-item .title a:first-child {
    display: table-cell;
    width: 16em;
}
.activity-record-item .append {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 0.5em;
}
.activity-record-item .append div {
    display: inline;
    background-color: #e74c3c;
    color: #fff;
    padding: 0.25em 0.3125em;
    border-radius: 0.2em;
}
.activity-record-item .revealed {
    background-color: #ececec;
    padding: 0.1875em 0.5em;
}
.winner-record-item .submit-info, .winner-record-item .received {
    padding: 0.625em;
    display: block;
    margin-left: 66%
}
.winner-record-item .submit-info div, .winner-record-item .received div {
    background-color: #e74c3c;
    color: #fff;
    padding: 0.25em 0.875em;
    border-radius: 0.2em;
    text-align: center;
}
.winner-record-item div.waiting, .winner-record-item div.showed {
    color: #E74C3C;
    display: block;
    padding: 0.625em;
    margin-left: 75%
}
.winner-record-item div.deal-received {
    background-color: #fb951f;
    color: #fff;
    padding: 0.25em 0.875em;
    display: block;
    text-align: center;
    margin-left: 70%;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-right: 0.625em;
    border-radius: 0.2em;
}
.win-record-empty-wrap #m-no-api-container{
    padding: 20% 0 15% 0;
    background-color: #f6f6f6;
}
.coupon-list-container ul li:first-child {
    margin-top: 0;
}
.coupon-item {
    position: relative;
    margin: 0.8em 1.2em;
    padding: 0.5em;
    background-color: #fff;
}
.coupon-item .price {
    text-align: center;
    line-height: 88px;
    width: 62px;
    height: 71px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.coupon-item .price.used {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.coupon-item .price span {
    font-size: 1.2em;
}
.coupon-item i.used-or-runout {
    position: absolute;
    top: 24%;
    right: 0;
}
.credit-item {
    position: relative;
    padding: 0.8em 1.2em;
    border-bottom: 1px solid #e5e5e5;
}
.my-credit .total-count {
    text-align: center;
    padding: 1em 0;
    background-color: #E74C3C;
    border-bottom: 1px solid #e5e5e5;
}
.my-credit .total-count .total {
    font-size: 3em;
    color: #fff
}
.my-credit .total-count .desc {
    margin-top: -0.6em;
    margin-bottom: 1em;
    color: #932523
}
.my-credit .link-item {
    display: inline-block;
    width: 49%;
    padding: 0.4em 0;
    text-align: center;
    color: #333333;
}
.my-credit .link-item:nth-child(1) {
    border-right: 1px solid #e5e5e5;
}
.my-credit .link-item .link-content {
    display: inline-block;
    text-align: left;
}
.my-credit .driver-header {
    color: #808080;
    padding: 0.5em 0.8em;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
}
.my-credit .activity-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 0.8em;
    border-bottom: 1px solid #e5e5e5;
}
.activity-item .ac-link-item {
    color: #fff;
    width: 3em;
    text-align: center;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
}
.activity-item .ac-link-item.enable {
    background-color: #E74C3C;
}
.activity-item .ac-link-item.disabled {
    background-color: #cccccc;
}

/* charge & pay */
.user-charge .item, .user-pay .item {
    padding: 0.625em 0.875em;
    border-bottom: 1px solid #e5e5e5;
}
#select-coupon-container {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.select-coupon {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    padding-top: 0.9em;
    font-size: 1em;
    background-color: #fff;
}
.select-coupon ul {
    max-height: 14em;
    overflow: auto;
}
.select-coupon .unselected {
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.user-charge .amount-list {
    margin-bottom: 0.875em;
}
.user-charge .amount-item.mr {
    margin-right: 6%;
}
.user-charge span.amount-item {
    width: 28%;
    padding: 0.3125em 0;
    float: left;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-top: 0.625em;
    border-radius: 0.2em;
}
.user-charge span.amount-item.selected {
    color: #e74c3c;
    border: 1px solid #e74c3c;
}
.user-charge input.amount-item.selected {
    border: 1px solid #e74c3c;
}
.user-charge input.amount-item {
    width: 27%;
    border: 1px solid #e5e5e5;
    border-radius: 0.2em;
    margin-top: 0.625em;
    outline: none;
    padding: 0.58em 0.2em;
}
div.pay-type-item {
    margin-top: 0.5em;
    padding: 0.3125em 0;
}
button.confirm-charge, button.confirm-pay {
    background-color: #e74c3c;
    margin: 4%;
    width: 91%;
    text-align: center;
    color: #fff;
    padding: 0.5em 0;
    border: 1px solid #e74c3c;
    border-radius: 0.2em;
    outline: none;
    cursor: pointer;
    font-size: 0.9375em;
}
.user-charge-result .status, .user-pay-result .status {
    text-align: center;
    padding: 2.25em 0;
}
.user-charge-result .next-actions, .user-pay-result .next-actions,
.user-pay-result .activity-infos {
    padding: 0.5em 0.75em;
}
.user-charge-result .next-actions a div,
.user-pay-result .next-actions a div {
    width: 48%;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 0.2em;
    padding: 0.625em 0;
    font-size: 0.9375em;
}
.user-charge-result .next-actions a.home div,
.user-pay-result .next-actions a.continue div {
    background-color: #e74c3c;
    margin-right: 4%;
}
.user-charge-result .next-actions a.my-charge-record div,
.user-pay-result .next-actions a.record div {
    background-color: #bcbcbc;
}

.num-count-wrap{
    margin-left: 64px;
}
.num-count-title{
    float: left;
    color: #6a6969;
}
.num-count-item{
    display: inline-block;
    width: 25%;
    color: #6a6969;
}
.payment-wrap{
    padding: 0.625em 0.875em;
    border-bottom: 1px solid #e5e5e5;
    line-height: 2.25em;
    background-color: #feffec;
}
.pay-text{
    padding-right: 0.5em;
}

.new-tip{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #de342f;
    margin-top: 7px;
}

/******Rebate*******/
.rebate-guide-wrap {
    background-color: #f8f8f8;
}
.r-total-wrap, .r-level-wrap, .r-invite-body{
    background-color: #fff;
}
.r-total-wrap{
    height: 4.375em;
    line-height: 4.375em;
    padding: 0 1em;
    margin-bottom: 0.6em;
}
.total-rebate-num{
    font-size: 1.5em;
    color: #e74c3c;
}
.go-rebate-list-btn{
    float: right;
    font-size: 0.84em;
    color: #999;
}
.go-rebate-list-text{
    margin-right: 3px;
}
.r-l-title, .r-l-body{
    height: 2.25em;
    line-height: 2.25em;
}
.r-l-title {
    padding: 0.8em 0;
    color: #999;
}
.r-l-body{
    border-top: 1px solid #e2e2e2;
}
.r-l-title span, .r-l-body span {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.r-level-wrap.vn .r-l-title span, .r-level-wrap.vn .r-l-body span {
    text-align: left;
}
.r-l-title span.first, .r-l-body span.first {
    width: 27%;
}
.r-l-title span.second, .r-l-body span.second {
    width: 33%;
}
.r-l-title span.third, .r-l-body span.third {
    width: 15%;
}
.r-invite-text{
    line-height: 2.25em;
    padding-left: 1em;
    color: #999
}
.r-invite-body{
    padding: 0 1em;
}
.share-border{
    display: inline-block;
    width: 3px;
    height: 16px;
    vertical-align: text-top;
    background: #e74c3c;
    margin-right: 5px;
}
.r-invite-btn{
    line-height: 2.8em;
    text-align: center;
}
.r-i-instruction{
    padding: 1em 0;
    color: #999;
}
.r-i-b-title{
    margin: 1em 0;
}
.go-more-invites-btn{
    display: block;
    text-align: center;
    color: #999;
    margin-top: 1.25em;
}
.more-invite-btn-text{
    padding-right: 4px;
}
.more-invite-arrow-right{
    height: 12px;
}
.my-invite-id {
    margin: 0 0.8em;
    padding: 0.8em 0;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 0.3em
}
.my-invite-id-copy {
    display: inline-block;
    margin: 0 1em 0 6em;
    background-color: #e74c3c;
    padding: 0.2em 1em;
    color: #fff;
    border-radius: 0.3em
}

.rebate-empty-wrap{
    padding-top: 45%;
    text-align: center;
}
.rebate-list-header-wrap{
    height: 3em;
    line-height: 3em;
    font-size: 1em;
}
.r-l-h-item, .one-third{
    display: inline-block;
    box-sizing: border-box;
    /*width: 33.333%;*/
}
.rebate-list-header-wrap .r-l-h-item:first-child,
.rebate-item-wrap .one-third:first-child{
    width: 40%;
}
.rebate-list-header-wrap .r-l-h-item:nth-child(2),
.rebate-item-wrap .one-third:nth-child(2){
    width: 33%;
}
.rebate-list-header-wrap .r-l-h-item:nth-child(3),
.rebate-item-wrap .one-third:nth-child(3){
    width: 27%;
    padding-left: 1em;
}

.rebate-item-user-wrap{
    position: relative;
}
.rebate-list-header-wrap, .rebate-item-wrap{
    padding: 0 1em;
    border-bottom: 1px solid #e5e5e5;
}
.rebate-item-wrap{
    line-height: 2.5em;
    font-size: 0.875em;
}
.rebate-level{
    position: absolute;
    top: 50%;
    margin-top: -6px;
    margin-left: 2px;
}

/* fill invited code  */
.fill-invited-code-wrap{
    background: #6926cd;
}
.f-i-c-tip{
    margin: 0.625em 0 1em 0;
    text-align: center;
    font-size: 1em;
    color: #fff;
}
.invite-code-input{
    display: block;
    width: 88%;
    height: 3.7em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: 0;
    -webkit-appearance: none;
    padding: 0;
    margin: 0 auto;
    line-height: 3.7em;
    border: 2px solid #faed0b;
    border-radius: 2.5em;
    text-align: center;
    font-size: 1.25em;
}
.invite-code-input::-webkit-input-placeholder {
  color: #ccc;
}
.invite-code-input::-moz-placeholder {
  color: #ccc;
}
.invite-code-input:-moz-placeholder {
  color: #ccc;
}
.invite-code-input:-ms-input-placeholder {
  color: #ccc;
}
.invite-code-submit-btn{
    width: 84%;
    height: 3em;
    line-height: 3em;
    border-radius: 2em;
    background: #faed0b;
    color: #E74C3C;
    margin: 1em auto;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1em;
    padding-left: 1em;
}
.invite-instru-wrap{
    position: relative;
    width: 88%;
    background: #fff9d7;
    margin: 1em auto;
}
.instru-title{
    line-height: 2.2em;
    font-size: 1.2em;
    text-align: center;
}
.double-red-line{
    height: 2px;
    border-top: 1px solid #E74C3C;
    border-bottom: 1px solid #E74C3C;
}
.double-red-line,
.invite-instru-body{
    width: 90%;
    margin: 0 auto;
}
.invite-instru-body{
    font-size: 1em;
    padding-bottom: 1em;
}
.first-title{
    margin-top: 1.6em;
    font-weight: bold;
}
.instru-sub-title,
.instru-desc{
    margin-bottom: 1em;
}
.fill-footer-img{
    margin-top: -80px;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  .newbie-wrap .activate-btn, .newbie-wrap .activate-btn.enable {
      width: 345px;
      height: 90px;
      margin-top: -15px;
  }
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (-webkit-min-device-pixel-ratio: 3.5) {
  .newbie-wrap .activate-btn, .newbie-wrap .activate-btn.enable {
      width: 345px;
      height: 90px;
      margin-top: -15px;
  }
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .newbie-wrap .activate-btn, .newbie-wrap .activate-btn.enable {
      width: 345px;
      height: 90px;
      margin-top: -15px;
  }
  .newbie-content-wrap {
      margin: 2em 0 8.5em 0;
  }
}
.inline-block {
  display: inline-block;
}
.ml16 {
  margin-left: 1em;
}