.m-header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  background-color: #E74C3C;
  box-shadow: none;
  border-radius: 0;
  z-index: 5;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  .child {
    margin: 15px 0px 15px 5px;
    line-height: 20px;
  }
  .flex1 {
    -webkit-box-flex: 1;
    text-align: center;
  }
  .title {
    -webkit-box-flex: 10;
    font-size: 18px;
    font-family: Arial, 'Lucida Grande', Verdana, 'Microsoft YaHei', hei;
    text-align: center;
  }
  .m-user {
    text-align: center;
    -webkit-box-flex: 1;
  }
}

.tlp {
  .city {
    position: relative;
    padding-right: 17px;
    color: #fff;
  }

  .city:after {
    border: #fff solid 1px;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  a.tool i {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 8px 5px 0 0;
    vertical-align: top;
  }
  .price {
    ul {
      height: 45px;
      line-height: 45px;
      display: -webkit-box;
      background-color: #f4f4f4;
    }
    li {
      text-align: center;
      color: #333;
      font-size: 14px;
      position: relative;
      -webkit-box-flex: 1;
      width: 50%;
    }
  }
}