.swipe-views-container {
  height: 100%;
  overflow: hidden;
  font-family: inherit;
}
.swipe-views-header {
  min-height: 2.5em;
}
.swipe-views-tabs {
  min-height: 100%;
  margin-top: -0.1875em;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.swipe-views-tabs > ul {
  margin: 0;
  padding: 0;
}
.swipe-views-tab {
  display: inline-block;
  padding: 0.625em 0 0.3125em 0;
  text-align: center;
  color: #919191;
  font-size: 1.125em;
}
.swipe-views-tab.active {
  color: #E74C3C;
}
.swipe-views-ink {
  height: 0.25em;
  background-color: #E74C3C;
  border-radius: 0.1em;
}
.swipe-views {
  overflow-x: hidden;
}
.swipe-view {
  width: 100%;
  overflow-y: scroll;
}
