/* custom icons */
.ico-right {position: absolute; top: 50%; right: 0;margin-top: -0.4em;margin-right: 1em}
.m-list-label {position: absolute; z-index: 1; left: 0.3em; top: 0.3em}
.m-detail-label {position: absolute; z-index: 10; top: 5em; left: 0.9375em}
.ico-winner_corner_icon {position: absolute; right: 0.9375em}
/* icons */
.ico {
    display: inline-block;
    vertical-align: middle;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .ico {
        background: url(../img/icons.png) no-repeat;
        -webkit-background-size: 459px 400px;
        -moz-background-size: 459px 400px;
        background-size: 459px 400px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .ico {
        background: url(../img/icons@2x.png) no-repeat;
        -webkit-background-size: 459px 400px;
        -moz-background-size: 459px 400px;
        background-size: 459px 400px;
    }
}
.ico-no_message {
    background-position: -1px -1px;
    width: 90px;
    height: 105px;
}
.ico-transaction_empty_icon {
    background-position: -93px -1px;
    width: 90px;
    height: 81px;
}
.ico-show_empty_icon {
    background-position: -185px -1px;
    width: 90px;
    height: 88px;
}
.ico-server_exception_icon {
    background-position: -1px -108px;
    width: 90px;
    height: 65px;
}
.ico-no_goods {
    background-position: -1px -175px;
    width: 90px;
    height: 90px;
}
.ico-no_friend_back {
    background-position: -93px -175px;
    width: 90px;
    height: 80px;
}
.ico-my_win_history_empty_icon {
    background-position: -277px -1px;
    width: 90px;
    height: 86px;
}
.ico-my_credit_empty {
    background-position: -277px -89px;
    width: 90px;
    height: 81px;
}
.ico-my_activitys_empty_icon {
    background-position: -277px -172px;
    width: 84px;
    height: 90px;
}
.ico-icon_no_redpackets {
    background-position: -1px -267px;
    width: 90px;
    height: 90px;
}
.ico-empty_cart {
    background-position: -93px -267px;
    width: 90px;
    height: 86px;
}
.ico-network_error_icon {
    background-position: -185px -175px;
    width: 90px;
    height: 69px;
}
.ico-countdown_data_empty {
    background-position: -369px -1px;
    width: 89px;
    height: 88px;
}
.ico-recharge_finish {
    background-position: -369px -91px;
    width: 56px;
    height: 56px;
}
.ico-pay_failure {
    background-position: -369px -149px;
    width: 56px;
    height: 56px;
}
.ico-participate_success {
    background-position: -369px -207px;
    width: 56px;
    height: 56px;
}
.ico-participate_fail {
    background-position: -369px -265px;
    width: 56px;
    height: 56px;
}
.ico-info_confirm_finish {
    background-position: -93px -108px;
    width: 56px;
    height: 56px;
}
.ico-used {
    background-position: -151px -108px;
    width: 50px;
    height: 45px;
}
.ico-runout {
    background-position: -203px -108px;
    width: 50px;
    height: 45px;
}
.ico-winner_corner_icon {
    background-position: -185px -267px;
    width: 45px;
    height: 45px;
}
.ico-buy_plus_normal {
    background-position: -232px -267px;
    width: 40px;
    height: 40px;
}
.ico-buy_plus_disable {
    background-position: -274px -267px;
    width: 40px;
    height: 40px;
}
.ico-buy_equrl_normal {
    background-position: -316px -267px;
    width: 40px;
    height: 40px;
}
.ico-buy_equrl_disable {
    background-position: -1px -359px;
    width: 40px;
    height: 40px;
}
.ico-icon_unit_10_label {
    background-position: -427px -91px;
    width: 24px;
    height: 29px;
}
.ico-icon_unit_0_label {
    background-position: -427px -149px;
    width: 24px;
    height: 29px;
}
.ico-cart_plus_normal {
    background-position: -185px -314px;
    width: 35px;
    height: 36px;
}
.ico-cart_plus_disable {
    background-position: -222px -314px;
    width: 35px;
    height: 36px;
}
.ico-cart_equrl_normal {
    background-position: -259px -314px;
    width: 35px;
    height: 36px;
}
.ico-cart_equrl_disable {
    background-position: -296px -314px;
    width: 35px;
    height: 36px;
}
.ico-friend_level3_bg {
    background-position: -427px -122px;
    width: 28px;
    height: 12px;
}
.ico-friend_level2_bg {
    background-position: -427px -180px;
    width: 28px;
    height: 12px;
}
.ico-friend_level1_bg {
    background-position: -427px -207px;
    width: 28px;
    height: 12px;
}
.ico-shopping_cart {
    background-position: -427px -221px;
    width: 26px;
    height: 25px;
}
.ico-pay_wiipay_icon {
    background-position: -427px -265px;
    width: 25px;
    height: 25px;
}
.ico-pay_wechat_icon {
    background-position: -427px -292px;
    width: 25px;
    height: 25px;
}
.ico-pay_other_icon {
    background-position: -369px -323px;
    width: 25px;
    height: 25px;
}
.ico-pay_now_icon {
    background-position: -396px -323px;
    width: 25px;
    height: 25px;
}
.ico-pay_iapppay_icon {
    background-position: -423px -323px;
    width: 25px;
    height: 25px;
}
.ico-pay_ali_icon {
    background-position: -333px -314px;
    width: 25px;
    height: 25px;
}
.ico-win_history {
    background-position: -43px -359px;
    width: 23px;
    height: 23px;
}
.ico-show_history {
    background-position: -68px -359px;
    width: 23px;
    height: 23px;
}
.ico-recharge_record {
    background-position: -93px -359px;
    width: 23px;
    height: 23px;
}
.ico-my_redpackets {
    background-position: -118px -359px;
    width: 23px;
    height: 23px;
}
.ico-friend_back {
    background-position: -143px -359px;
    width: 23px;
    height: 23px;
}
.ico-credit_history {
    background-position: -168px -359px;
    width: 23px;
    height: 23px;
}
.ico-buy_history {
    background-position: -193px -359px;
    width: 23px;
    height: 23px;
}
.ico-tab_user_default {
    background-position: -93px -84px;
    width: 19px;
    height: 22px;
}
.ico-share_default {
    background-position: -114px -84px;
    width: 20px;
    height: 22px;
}
.ico-icon_share_default {
    background-position: -136px -84px;
    width: 20px;
    height: 22px;
}
.ico-icon_settings_default {
    background-position: -157px -84px;
    width: 22px;
    height: 22px;
}
.ico-icon_notice_default {
    background-position: -255px -108px;
    width: 19px;
    height: 22px;
}
.ico-cart_delete {
    background-position: -218px -359px;
    width: 21px;
    height: 22px;
}
.ico-icon_prompt_default {
    background-position: -240px -359px;
    width: 22px;
    height: 21px;
}
.ico-ic_notice {
    background-position: -264px -359px;
    width: 21px;
    height: 17px;
}
.ico-icon_back_default {
    background-position: -255px -132px;
    width: 18px;
    height: 18px;
}
.ico-profile_qrcode {
    background-position: -286px -359px;
    width: 17px;
    height: 17px;
}
.ico-ic_credit_detail {
    background-position: -427px -248px;
    width: 18px;
    height: 15px;
}
.ico-user_qrcode {
    background-position: -305px -359px;
    width: 17px;
    height: 17px;
}
.ico-uncheck {
    background-position: -323px -359px;
    width: 17px;
    height: 16px;
}
.ico-singlebox {
    background-position: -342px -359px;
    width: 16px;
    height: 16px;
}
.ico-icon_clear_default {
    background-position: -360px -359px;
    width: 16px;
    height: 16px;
}
.ico-ic_redpackets {
    background-position: -378px -359px;
    width: 14px;
    height: 16px;
}
.ico-ic_credit_exchange {
    background-position: -393px -359px;
    width: 17px;
    height: 16px;
}
.ico-checkbox {
    background-position: -411px -359px;
    width: 17px;
    height: 16px;
}
.ico-icon_close_default {
    background-position: -185px -91px;
    width: 13px;
    height: 13px;
}
.ico-icon_arrow_white_right {
    background-position: -427px -136px;
    width: 7px;
    height: 11px;
}
.ico-icon_arrow_up_default {
    background-position: -436px -136px;
    width: 11px;
    height: 7px;
}
.ico-icon_arrow_right_default {
    background-position: -427px -194px;
    width: 7px;
    height: 11px;
}
.ico-icon_arrow_down_default {
    background-position: -436px -194px;
    width: 11px;
    height: 7px;
}
.ico-ic_credit_red {
    background-position: -446px -248px;
    width: 11px;
    height: 10px;
}
.ico-ic_credit_gray {
    background-position: -200px -91px;
    width: 11px;
    height: 10px;
}
.ico-arrow_red_up {
    background-position: -369px -350px;
    width: 11px;
    height: 7px;
}
.ico-arrow_red_right {
    background-position: -450px -323px;
    width: 7px;
    height: 11px;
}
.ico-arrow_red_down {
    background-position: -382px -350px;
    width: 11px;
    height: 7px;
}
.ico-time {
    background-position: -213px -91px;
    width: 9px;
    height: 9px;
}
.ico-red_dot_tips {
    background-position: -224px -91px;
    width: 9px;
    height: 9px;
}
.ico-point_select {
    background-position: -449px -136px;
    width: 6px;
    height: 6px;
}
.ico-point_default {
    background-position: -449px -194px;
    width: 6px;
    height: 6px;
}