@import "../../scss/variables";

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.toast {
  color: $lightGray;
  font-size: $normalSize;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 101;
  width: 200px;
  margin-left: -100px;
  margin-top: -30px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: #fff;

  span { margin-left: 8px }
}
.success, .warning, .error {
  color: #fff;
  background: rgba(0,0,0,0.65);
}
