$bodyWidth: 1190px;

$white: #fff;
$lightRed: #f1465e;
$red: #ff302d;
$darkGray: #666;
$lightGray: #999;
$black: #333;
$darkBlue: #22aaff;
$lightBlue:#278FD3;
$green: #35bc00;
$yellow: #fbec53;
$borderColor: #e4e4e4;
$bgLightGray: #f5f5f5;
$bgLightRed: #fce4ea;
$bgLightYellow: #ffffe8;

$biggestSize: 24px;
$biggerSize: 18px;
$bigSize: 16px;
$normalSize: 14px;
$littleSize: 12px;
$size20: 20px;

