.top-banner{
  width: 100%;
}
.recharge-coupon-wrapper{
  width: 100%;
  height: 100%;
  background-color: #ff1b42;
  text-align: center;
}
.r-duration{
  margin: 2em;
  line-height: 2em;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
.r-duration-text{
  margin: 0 8px;
  background-color: #9f49e3;
  border-left: 2px solid #6f339e;
  border-right: 2px solid #6f339e;
}
.r-duration-icon{
  width: 8px;
  height: 40px;
  margin-top: -2px;
  background: url(../../img/discovery/chargecoupon/date_duration.png) no-repeat;
  -webkit-background-size: 8px 32px;
  -moz-background-size: 8px 32px;
  background-size: 8px 32px;
}
.r-desc{
  color: #ffe758;
  margin: 0 3em 1.75em 3em;
}
.r-current-charge-wrapper{
  margin: 0 1.75em;
  border: 2px solid #fbc21b;
  background: #fbc21b;
  border-radius: 0.3em;
}
.r-current-charge{
  line-height: 2em;
}
.r-current-amount{
  color: #d42a1d;
}
.r-current-charge-big{
  height: 1.5em;
  line-height: 1.5em;
  margin: 0.2em 0.75em;
  background: #7d2dbc;
  font-size: 2.25em;
  color: #fff;
  border-radius: 0.2em;
}
.r-recharge-btn{
  width: 100%;
  max-width: 324px;
  height: 48px;
  margin: 22px auto;
  background: url(../../img/discovery/chargecoupon/btn_recharge.png) no-repeat;
  -webkit-background-size: 100% 48px;
  -moz-background-size: 100% 48px;
  background-size: 100% 48px;
  line-height: 48px;
  color: #fff;
  font-size: 1.2em;
}
.r-coupon-display-wrapper{
  margin-bottom: 0.75em;
}
.coupon-display-head{
  height: 95px;
}
.coupon-display-body{
  padding: 0 0.2em;
  margin-top: -2.5em;
}
.r-coupon-item-wrapper{
  display: inline-block;
  width: 33.33%;
  padding: 0.8em 0;
}
.r-coupon-item{
  position: relative;
  width: 105px;
  height: 105px;
  margin: 0 auto;
  background: url(../../img/discovery/chargecoupon/envelope.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.coupon-type-1{
  background: url(../../img/discovery/chargecoupon/packet1.png) no-repeat;
}
.coupon-type-2{
  background: url(../../img/discovery/chargecoupon/packet2.png) no-repeat;
}
.coupon-type-3{
  background: url(../../img/discovery/chargecoupon/packet3.png) no-repeat;
}
.coupon-type-1,
.coupon-type-2,
.coupon-type-3{
  display: inline-block;
  width: 29px;
  height: 29px;
  -webkit-background-size: 29px auto;
  -moz-background-size: 29px auto;
  background-size: 29px auto;
  margin: 0 10px 0 15px;
}
.coupon-number,
.rules-price{
  color: #ffde00;
}
.coupon-number{
  padding-top: 26px;
  text-align: left;
}
.coupon-multip-icon{
  display: inline-block;
  width: 15px;
  height: 30px;
  vertical-align: top;
  margin-top: 5px;
}
.coupon-count{
  display: inline-block;
  width: 20px;
  vertical-align: top;
  text-align: center;
  font-size: 1.2em;
  margin-top: 3px;
}
.coupon-open-rules{
  font-size: 0.675em;
}
.open-coupon-btn{
  display: inline-block;
  width: 87px;
  height: 22px;
  background: url(../../img/discovery/chargecoupon/btn_envelope.png) no-repeat;
  -webkit-background-size: 87px auto;
  -moz-background-size: 87px auto;
  background-size: 89px auto;
  font-size: 0.625em;
  color: #7f1b01;
  vertical-align: top;
  padding-top: 2px;
}
.opened-coupon-label{
  display: inline-block;
  width: 87px;
  height: 22px;
  background: url(../../img/discovery/chargecoupon/btn_envelope_opened.png) no-repeat;
  -webkit-background-size: 87px auto;
  -moz-background-size: 87px auto;
  background-size: 89px auto;
  font-size: 0.625em;
  color: #7f1b01;
  vertical-align: top;
  padding-top: 2px;
}
.coupon-item-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  border-radius: 5px;
}
.r-instruction{
  padding: 0 22px 22px;
}
.r-instruction-title,
.coupon-display-title{
  display: inline-block;
  font-size: 1em;
  width: 118px;
  height: 24px;
  line-height: 24px;
  background: url(../../img/discovery/chargecoupon/header_bg.png) no-repeat;
  -webkit-background-size: 117px 24px;
  -moz-background-size: 117px 24px;
  background-size: 117px 24px;
  color: #ef351e;
}
.coupon-display-title{
  margin-top: 22px;
}
.r-instruction-title{
  margin-top: 14px;
  margin-bottom: 24px;
}
.r-instruction-para{
  font-size: 0.9em;
  text-align: left;
  color: #fff;
}
.r-instruction-index, .r-instruction-mark {
  color: #ffde00;
}
.r-instruction-index{
  padding-right: 4px;
}
.coupon-list{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}
.coupon-list-content{
  position: absolute;
  top: 50%;
  margin-top: -235px;
  width: 100%;
  height: 462px;
  background: url(../../img/discovery/chargecoupon/activate_envelope_bg.png) no-repeat;
  -webkit-background-size: 100% 462px;
  -moz-background-size: 100% 462px;
  background-size: 100% 462px;
}
.c-l-head,
.c-l-body{
  position: absolute;
  left: 50%;
  margin-left: -88px;
  top: 214px;
  width: 175px;
  height: 6px;
  background: #a7230f;
}
.c-l-head{
  border-radius: 6px;
}
.c-l-body{
  top: 217px;
  width: 165px;
  height: 160px;
  margin-left: -83px;
  background: #fff3b3;
}
.c-l-ok-btn{
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin-left: -78px;
  width: 153px;
  height: 41px;
  line-height: 40px;
  background: url(../../img/discovery/sharecoupon/btn_ok.png) repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.i-price,
.i-amount{
  color: #ff481e;
}
.i-price{
  font-weight: bold;
  font-size: 1em;
}
.i-connect{
  padding: 0 10px;
}
.i-desc{
  font-size: 0.875em;
}
.c-l-body,
.g-c-packet-body{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.c-l-item{
  margin: 1px 0;
}
.charge-big-text{
  letter-spacing: 4px;
}

/***share coupon***/
.share-coupon-wrapper,
.group-coupon-wrapper{
  width: 100%;
  min-height: 100%;
  text-align: center;
}
.share-coupon-wrapper {
  background-color: #ed5647;
}
.group-coupon-wrapper{
  background: url(../../img/discovery/sharecoupon/share_bg.png) repeat;
  -webkit-background-size: 7px auto;
  -moz-background-size: 7px auto;
  background-size: 7px auto;
}
.s-record{
  width: 100%;
}
.s-record-text{
  font-size: 1.1em;
  color: #fff;
}
.s-record-process-bar{
  width: 160px;
  height: 10px;
  background-color: #4d1d02;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
}
.s-record-process{
  height: 10px;
  background: #fff601;
  border-radius: 10px;
}
.go-home-btn,
.share-coupon-btn,
.go-home-btn:active{
  display: inline-block;
  width: 234px;
  height: 63px;
  line-height: 62px;
  background: url(../../img/discovery/sharecoupon/go_home_btn.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  margin: 1.75em 0;
  font-size: 1.4em;
  color: #fff;
}
.go-home-btn:active{
  background: url(../../img/discovery/sharecoupon/go_home_btn_pressed.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.go-home-btn.red-btn {
  background: url(../../img/discovery/sharecoupon/go_home_btn_red.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.go-home-btn.red-btn:active {
  background: url(../../img/discovery/sharecoupon/go_home_btn_red_pressed.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.s-desc{
  margin: 0 1.5em;
  text-align: left;
}
.s-desc-label{
  color: #fbc924;
}
.s-desc-content{
  color: #fbe4e2;
  padding-left: 8px;
}
.rules-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  z-index: 5;
  background: rgba(0,0,0,0.6);
  text-align: center;
}
.rules-content{
  width: 90%;
  margin: 0 auto;
  background: #FFF4C8;
  border: 3px solid #4d1d02;
  border-radius: 4px;
}
.r-head{
  position: relative;
  background: #FED80C;
  line-height: 3.7em;
  border-bottom: 4px solid #ffbb02;
}
.r-body{
  overflow: auto;
  text-align: left;
  padding: 0 0.6em 6px 0.6em;
  color: #4d1d02;
  border-top: 3px solid #4d1d02;
  border-bottom: 3px solid #ffbb02;
}
.show-rules {z-index: 5}
.s-rules{
  position: relative;
  padding: 2em 0;
}
.s-rules-text{
  color: #fff;
  font-size: 1.2em;
  text-decoration: underline;
}
.s-rules-icon{
  position: absolute;
  top: 16px;
  width: 52px;
  height: 43px;
  background: url(../../img/discovery/sharecoupon/rules_click.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.s-rules-icon:active{
  background: url(../../img/discovery/sharecoupon/rules_click_pressed.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.r-close-btn {
  position: absolute;
  right: 0;
  width: 3.7em;
  height: 3.7em;
  background: url(../../img/discovery/sharecoupon/rules_close_btn.png) no-repeat center center;
  -webkit-background-size: 15px auto;
  -moz-background-size: 15px auto;
  background-size: 15px auto;
}
.r-close-btn:active {
  background: url(../../img/discovery/sharecoupon/rules_close_btn_pressed.png) no-repeat center center;
  -webkit-background-size: 15px auto;
  -moz-background-size: 15px auto;
  background-size: 15px auto;
}
.r-para-title:first-child{
  padding-top: 1.125em;
}
.r-para-title{
  padding-top: 1em;
  font-weight: bold;
}
.g-c-body{
  position: relative;
  color: #4d1d02;
  width: 100%;
  max-width: 342px;
  height: 390px;
  margin: 0 auto;
  padding-top: 32%;
  background: url(../../img/discovery/sharecoupon/packet.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.phone-number-input,
.snatch-coupon-btn{
  margin: 0 auto;
  text-align: center;
}
.phone-number-input{
  display: block;
  width: 147px;
  height: 35px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 4em;
  outline: 0;
  -webkit-appearance: none;
  border: 2px solid #4d1d02;
  border-radius: 14px;
  font-size: 1em;
  background: #fff6d2;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 1em;
  color: #4d1d02;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 1em;
  color: #4d1d02;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 1em;
  color: #4d1d02;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1em;
  color: #4d1d02;
}
::placeholder { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  font-size: 1em;
  color: #4d1d02;
}
.snatch-coupon-btn{
  width: 153px;
  height: 41px;
  line-height: 40px;
  margin-top: 1.2em;
  margin-bottom: 2em;
  background: url(../../img/discovery/sharecoupon/btn_ok.png) repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  font-size: 1.375em;
  font-weight: bold;
}
.rules-show{
  font-size: 1em;
  color: #fff;
  text-decoration: underline;
}
.g-c-body .r-para{
  margin: 6px 4px;
}
.g-c-success-body{
  position: relative;
  color: #4d1d02;
  width: 100%;
  max-width: 357px;
  height: 360px;
  margin: 0 auto;
  background: url(../../img/discovery/sharecoupon/success_coupon.png) no-repeat;
  -webkit-background-size: 100% 360px;
  -moz-background-size: 100% 360px;
  background-size: 100% 360px;
}
.success-top-title-big{
  font-size: 4.4em;
  font-weight: bold;
}
.success-middle-title{
  margin-top: 2em;
  line-height: 2.2em;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff002;
}
.success-middle-desc{
  color: #fff002;
}
.g-c-success-body .go-home-btn{
  width: 230px;
  height: 60px;
  line-height: 58px;
  margin-top: 1.2em;
  background-image: url(../../img/discovery/sharecoupon/btn_ok.png);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  color: #4d1d02;
}
.g-c-success-body .go-home-btn:active{
  background-image: url(../../img/discovery/sharecoupon/btn_ok_pressed.png);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.expire-icon{
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.g-c-body-wrap{
  color: #fff;
  margin-top: -60px;
}
.expire-title{
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}
.rules-show.expire{
  margin-top: 1em;
}

@media (max-width:320px), (max-height:580px){
  .go-home-btn, .g-c-success-body .go-home-btn,
  .share-coupon-btn, .go-home-btn:active{
    width: 214px;
    margin: 1.4em 0;
    line-height: 51px;
  }

  .r-head{
    line-height: 2.6em;
  }
  .r-close-btn{
    height: 2.6em;
  }
  .r-para-title:first-child{
    padding-top: 0.4em;
  }
  .r-para-title{
    padding-top: 0.1em;
  }
}

@media (max-width:300px), (max-height:480px){
  .r-body{
    font-size: 0.9em;
    height: 28em;
  }
}

/* charge fifty */
.charge-fifty-wrapper {
  background-color: #501f70;
  height: 100%
}
.charge-fifty-wrapper .charge-btn {
  margin: 2.5em 0 4em 0
}
.charge-fifty-wrapper .charge-btn img {
  width: 80%;
  margin: auto
}
.charge-fifty-wrapper .table-title {
  color: #fff;
  font-size: 1.15em;
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
  background: url(../../img/discovery/chargefifty/title_bg.png) no-repeat;
  width: 295px;
  height: 43px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
table.coupon-desc {
  width: 94%;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  border: 1px solid #8f46bf;
  border-collapse: collapse;
  border-spacing: 0;
}
table.coupon-desc td {
  padding: 0.4em 0;
}
table.coupon-desc thead, table.coupon-desc tfoot {
  background-color: #3d0b5d;
}
table.coupon-desc thead, table.coupon-desc tfoot, table.coupon-desc td.amount {
  color: #fffc00;
}
table.coupon-desc tbody {
  color: #fff
}
table.coupon-desc tbody td {
  border-top: 1px solid #8f46bf;
}
table.coupon-desc tbody tr:last-child td {
  border-bottom: 1px solid #8f46bf;
}
table.coupon-desc tbody tr td:first-child, table.coupon-desc tbody tr td:nth-child(2) {
  border-right: 1px solid #8f46bf;
}
.campaign-rules {
  width: 94%;
  margin: 2em auto;
  color: #491f00;
  font-size: 1.1em;
  background: #fff565;
  padding: 4px;
}
.rule-details-title{
  text-align: center;
  line-height: 2.2em;
}
.campaign-rules .rule-details{
  border: 1px dashed #ab811d;
}
.campaign-rules .rule-details p {
  padding: 0 1em
}
.campaign-rules .rule-details p:first-child {
  padding-top: 0.4em
}

/*****WealthyGod******/
.wealthy-god-wrapper{
  position: relative;
  background-color: #312358;
  text-align: center;
}
.w-g-rule-btn{
  position: absolute;
  top: 1em;
  right: 1.6em;
  width: 5.6em;
  height: 1.8em;
  line-height: 1.8em;
  background-color: #ff3c17;
  color: #fff;
  font-size: 1em;
  border-radius: 1.8em;
}
.w-g-top-wrap{
  padding: 0 1em;
}
.w-g-top-title{
  width: 100%;
  height: 2.6em;
  line-height: 2.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.25em solid #ff5134;
  border-radius: 0.8em;
  color: #33245d;
  background-color: #fffbec;
}
.red-rect{
  width: 96%;
  height: 0.6em;
  margin: 0 auto;
  background-color: #c82207;
}
.w-g-list-wrapper{
  height: 16.4em;
  padding: 0 0.8em;
  border-radius: 0.8em;
  background-color: #ff5134;
}
.w-g-border-img{
  width: 100%;
  height: 1.3em;
  background: url(../../img/discovery/wealthy_god/img_marquee.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
}
.w-g-list-body{
  height: 13em;
  border: 0.4em solid #e03013;
  border-radius: 0.4em;
}
.w-g-list-first{
  height: 100%;
}
.w-g-list-item{
  display: inline-block;
  width: 33.333%;
  height: 180px;
  padding: 0 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e03013;
}
.w-g-list-item:first-child{
  padding-left: 0;
}
.w-g-list-item:last-child{
  padding-right: 0;
}
.w-g-list-item-body{
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-top: 1px solid #fcf198;
}
.w-g-placeholder{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../img/discovery/wealthy_god/placeholder.png) center center no-repeat;
  background-position-y: 0;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-placeholder-sibling{
  position: absolute;
  width: 100%;
  height: 100%;
}
.w-g-list-item-img{
  display: inline-block;
  width: 73px;
  height: 110px;
  margin-top: 2.2em;
}
.w-g-list-item-img.hide{
  display: none;
}
.w-g-refresh-btn,
.w-g-no-refresh-btn,
.w-c-l-ok-btn{
  width: 235px;
  height: 49px;
  line-height: 49px;
  margin: 1.2em auto;
  font-size: 1.6em;
  color: #ff3c17;
}
.w-g-refresh-btn,
.w-c-l-ok-btn{
  background: url(../../img/discovery/wealthy_god/btn_default.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-refresh-btn:active{
  background: url(../../img/discovery/wealthy_god/btn_pressed.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-no-refresh-btn{
  color: #b29ced;
  font-size: 1em;
  background: url(../../img/discovery/wealthy_god/btn_done.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-c-l-ok-btn{
  margin: 0 auto;
}
.w-g-coupon-wrapper{
  background-color: #df3121;
}
.w-g-coupon{
  padding: 1.2em 0;
}
.w-g-coupon-item{
  display: inline-block;
  width: 33.333%;
}
.w-g-c-i-banner{
  position: relative;
  width: 81px;
  height: 84px;
  margin: 0 auto;
  background: url(../../img/discovery/wealthy_god/lucky_bag_bg.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-c-i-desc{
  margin-top: 0.2em;
  margin-bottom: 0.8em;
  font-size: 0.8em;
  color: #ffdd4e;
}
.w-g-c-i-count{
  position: absolute;
  top: 40px;
  left: 20px;
  color: #fffbec;
}
.w-g-open-coupon-btn,
.opened-coupon-btn{
  display: inline-block;
  width: 69px;
  height: 19px;
}
.w-g-open-coupon-btn{
  background: url(../../img/discovery/wealthy_god/open_coupon.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.opened-coupon-btn{
  background: url(../../img/discovery/wealthy_god/opend_coupon.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-footer{
  height: 3.4em;
  line-height: 3.4em;
  color: #fffbec;
  background-color: #ff4537;
}
.g-r-i-img{
  width: 6em;
  height: 6em;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1.25em;
}
.g-r-i-name{
  color: #33245d;
}
.g-r-add-cart-btn{
  width: 5.4em;
  height: 1.85em;
  margin: 0.8em auto;
  line-height: 1.85em;
  border-radius: 0.4em;
  color: #fff;
  background-color: #f02315;
}
.g-r-has-winned{
  position: absolute;
  top: 1.2em;
  right: 0.8em;
  width: 48px;
  height: 43px;
  background: url(../../img/discovery/wealthy_god/winner_record.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.w-g-refresh-text{
  display: block;
  margin-top: -1em;
  color: #ffdd4e;
}
.w-popup-banner{
  width: 361px;
  height: 176px;
}
.w-coupon-list-content{
  position: absolute;
  top: 22%;
}
.w-coupon-list-body{
  width: 272px;
  height: 180px;
  margin: 0 auto;
  background-color: #f03929;
  border-radius: 0.4em;
}
.w-c-l-head{
  line-height: 3em;
  font-size: 1.2em;
  color: #fff;
}
.w-c-l-body{
  min-height: 50px;
  margin-bottom: 0.8em;
}
.w-c-l-item{
  font-size: 1em;
  color: #ffec4e;
}
.w-i-desc{
  padding: 0 0.4em;
}
.w-g-rules .r-close-btn{
  width: 3.2em;
  height: 3.2em;
  background: url(../../img/discovery/wealthy_god/btn_close.png) no-repeat center center;
  -webkit-background-size: 16px auto;
  -moz-background-size: 16px auto;
  background-size: 16px auto;
}
.w-g-rules .rules-content{
  border: none;
  background: #fffbec;
}
.w-g-rules .r-head{
  border-bottom: none;
  background: #ff5134;
  line-height: 3.2em;
  color: #fffbec;
  font-size: 1.2em;
}
.w-g-rules .r-body{
  padding: 0.8em;
  border-top: none;
  border-bottom: none;
  color: #312358;
}
.w-g-rules .r-para{
  margin: 0.25em 0;
}


@-webkit-keyframes rotateY {
  from {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 180deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 180deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -25deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -25deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rotateY {
  from {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 180deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 180deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -25deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, -25deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    opacity: 1;
  }
}

